
@{
    ViewData["Title"] = "Empty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a name="btnCreate" value="Create New Author" class="btn btn-primary"
       asp-action="CreateNew" asp-controller="Author">Create New Author</a>
</div>

<h2>There is no Authors Avilable</h2>

